@model  MainProject.Models.UserModel

<div id="body">
    <aside style="float: left; width: 10px; margin-left: 50px">
        <div class="rotate" style="width: 350px; margin-top: 150px">
            <label style="font-family: 'Agency FB'; font-size: 50px; color: #232020">MWMS WEB SERVICE</label>
        </div>
    </aside>

    <div style="margin-left: 300px">
        <h3>REGISTER:</h3>
        @using (Html.BeginForm("Add", "Home", FormMethod.Post))
        {   
            <div>
                <div>
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div>
                    @Html.EditorFor(model => model.UserName)
                </div>
            </div>
            
            <div>
                <div>
                    @Html.LabelFor(model => model.Password)
                </div>
                <div>
                    @Html.PasswordFor(model => model.Password)
                </div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(model => model.ClientName)
                </div>
                <div>
                    @Html.EditorFor(model => model.ClientName)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.ClientId)
            </div>
            <div>
                @Html.EditorFor(model => model.ClientId)
            </div>
           
            <p>
                <input type="submit" value="REGISTER" />
            </p>
        }

        <div style="clear: both">
            <h3>CHECK USER:</h3>

            <div>
                <div>
                    Username:
                </div>
                <div>
                    <input id="txtUserName" type="text" />
                </div>
            </div>
            <div>
                <div>
                    Password:
                </div>
                <div>
                    <input id="txtPassword" type="password" />
                </div>
            </div>

            <p>
                <input id="verifyBtn" type="button" value="CHECK" />
            </p>

            <div>
                CLIENT ID:
            <label id="clientId">USER DOES NOT EXIST</label>
            </div>

        </div>
    </div>
</div>
